<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
    background: #f78b00;
}

  
.tabela {
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 20px;
    text-align: center;
}
    </style>
    <title>Sobre</title>
</head>
<body>

   <table class = "tabela" border="5">
    <thead>
        <tr>
            <th>Nome</th>
            <th>RGM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lucas Rodrigues Amorim </td> 
            <td>2954142-5</td>    
        </tr>
        <tr>
            <td>Guilherme Aparecido Marinho dos Santos</td>
            <td>2996947-6</td>    
        </tr>
        <tr>
            <td>Nicoly dos Santos Rocha </td>
            <td>2923365-8</td>    
        </tr>
    </tbody>
   </table>
</body>
</html>